/* Small screen */
.hero {
    display: flex;
    flex-direction: column;
}

.hero-left {
    margin-bottom: 1rem;
}

.hero-title {
    color: #242424;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero-genre {
    color: #242424;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.hero-description {
    color: #242424;
    margin-bottom: 1rem;
}

.hero-button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #242424;
    color: #fff;
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

/* large screen */
@media screen and (min-width: 992px){
    .hero {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align-last: left;
    }

    .hero-left {
        flex-basis: 40%;
    }
    
}